@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background: black;
}

.maplibregl-control-container {
  display: none; /* out of sight out of mind */
}
